.b-home {
  @include margin-leader(5);
}

.b-home__top {
  @include margin-trailer(4.5);
}

.b-home__shadow {
  @include margin-trailer(4);
}

.b-home__header {
  @include margin-trailer(3.5);
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;

  @media #{$medium-up} {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.b-home__heading {
  color: $dark-gray;
  margin: 0 0 rhythm(2);

  @media #{$medium-up} {
    margin: 0;
  }
}

.b-home__articles {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}

.b-home__article {
  @include span(12);
  @include margin-trailer(4);

  @media #{$medium-up} {
    @include span(6);
  }

  @media #{$big-up} {
    @include span(4);
  }
}

.b-home__claim {
  font-size: 20px;
  padding: 0 gutter(1);
}
