.b-teaser__header {
  @include margin-trailer(1);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.b-teaser__btn {
  @extend %button-clear;
  @extend %link;
  font-weight: 400;
  cursor: pointer;
}

.b-teaser__textarea {
  @extend %textarea;
  border-radius: 4px;
  width: 100%;
  height: 150px;
  padding: 13px;
  line-height: 21px;
}

.b-teaser__preview {
  font-size: 16px;
}
