.b-post {
  @include margin-leader(4);
}

.b-post__header {
  @include margin-trailer(1.5);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;


  @media #{$xlarge-up} {
    position: relative;
  }
}

.b-post__return-btn {
  display: inline-block;
  margin-right: gutter(2);

  @media #{$xlarge-up} {
    position: absolute;
    display: inline-block;
    left: -90px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.b-post__return-icon {
  width: 18px;
  height: 28px;
}

.b-post__heading {
  max-width: calc(100% - 50px);

  @media #{$medium-up} {
    width: 100%;
    max-width: none;
  }
}

.b-post__info {
  @include margin-trailer(4);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.b-post__image-uploader {
  @include margin-trailer(6);
}

.b-post__shadow {
  @include margin-trailer(5);
}

.b-post__teaser {
  @include margin-trailer(4.5);
}

.b-post__seo {
  @include margin-trailer(7.5);
}

.b-post__h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  margin: 0 0 rhythm(1);
  color: $dark-gray;
}

.b-post__prompt {
  @include margin-trailer(3);
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: $light-gray;
}

.b-post__social-image {
  @include margin-trailer(3.5);
}

.b-post__footer {
  border-top: 1px solid $light-gray-3;
}

.b-post__footer-inner {
  @include rhythm-padding(1);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.b-post__delete-icon {
  width: 10px;
  height: 12px;
}

.b-post__md-editor {
  @include margin-trailer(5.5);
}

.b-post__uploader-title {
  @include margin-trailer(2);
}
