.b-seo-form__row {
  @include margin-trailer(2.5);

  &:last-of-type {
    @include margin-trailer(0);
  }
}

.b-seo-form__label {
  @include margin-trailer(1.5);
  display: block;
}

.b-seo-form__input {
  @extend %input;
  border-radius: 3px;
  width: 100%;
  padding: 0 8px;
  height: 32px;
  line-height: 32px;
}

.b-seo-form__textarea {
  @extend %textarea;
  border-radius: 3px;
  width: 100%;
  height: 82px;
  padding: 8px;
  line-height: 21px;
}
