.b-editor {
  position: relative;

  .quill {
    @include padding-leader(2);
  }

  .ql-container.ql-snow {
    border: none;
    min-height: 300px;
  }

  .ql-toolbar.ql-snow {
    @include margin-trailer(1.5);
    z-index: z(default);
    border-radius: 3px;
    display: inline-block;
    background-color: $white;
    border-color: $light-gray-5;
    padding: 5px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .ql-editor {
    font-family: $font;
    padding: rhythm(2) 0;
  }
}

.b-editor__bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 90px;
  background-color: $light-gray-4;
  z-index: z(hide);

  @media #{$medium-up} {
    height: 68px;
  }
}

.b-editor__shadow {
  position: absolute;
  bottom: -5px;
}
