.b-avatar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.b-avatar__img {
  width: 34px;
  height: 34px;
  margin-right: gutter(.65);
}

.b-avatar__name {
  color: $dark-gray;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}
