$btn-bg: $blue;
$btn-hovered-bg: $dark-blue;
$btn-color: $white;
$btn-active-shadow: #010101;

.b-btn {
  @include transition(background-color);
  width: auto;
  background-color: $btn-bg;
  color: $btn-color;
  font-size: 14px;
  font-family: $font;
  font-weight: 400;
  text-align: center;
  border: none;
  border-radius: 3px;
  padding: 8px 12px;
  cursor: pointer;

  &:hover {
    color: $btn-color;
    background-color: $btn-hovered-bg;
  }

  &:focus {
    color: $btn-color;
    outline: none;
  }

  &:active {
    color: $btn-color;
    box-shadow: inset 0 2px 0 rgba($btn-active-shadow, .25);
  }
}

// STATE
.b-btn_theme_green {
  background-color: $green;

  &:hover {
    background-color: darken($green, 10%);
  }
}
