.b-icon-btn {
  @include transition(color);
  @extend %button-clear;
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  cursor: pointer;

  &:hover {
    .b-icon-btn__text {
      color: darken($red, 10%);
    }

    .b-icon-btn__icon {
      fill: darken($red, 10%);
    }
  }

  &:active {
    .b-icon-btn__text {
      color: darken($red, 15%);
    }

    .b-icon-btn__icon {
      fill: darken($red, 15%);
    }
  }
}

.b-icon-btn__icon {
  @include transition(fill);
  margin-right: 10px;
  fill: $red;
}

.b-icon-btn__text {
  font-size: 14px;
  font-weight: 400;
  color: $red;
}
