.b-label {
  padding: 1px 6px;
  border-radius: 2px;
  position: relative;
  background-color: $dark-gray;
  color: $dark-gray-3;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.b-label__text {
  font-size: 12px;
  line-height: 18px;
}

.b-label__info {
  margin-left: 10px;
}

.b-label__icon-wrap {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;

  &:focus {
    outline: none;
  }

  &:hover {
    +.b-label__tooltip {
      display: block;
    }
  }
}

.b-label__icon {
  width: 12px;
  height: 12px;
}

.b-label__tooltip {
  display: none;
  position: absolute;
  color: $white;
  background-color: rgba($black, .9);
  border-radius: 6px;
  font-size: 12px;
  line-height: 18px;
  padding: rhythm(1) gutter(1.25);
  width: 235px;
  right: 0;
  top: 30px;
  z-index: z(default);

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent rgba($black, .9) transparent;
    top: -6px;
    right: 6px;
  }

  @media (min-width: $grid-container-width + gutter(2) + 250 * 2) {
    left: calc(100% + 20px);
    top: -5px;

    &:after {
      border-width: 6px 6px 6px 0;
      border-color: transparent rgba($black, .9) transparent transparent;
      left: -6px;
      top: 10px;
    }
  }
}

// STATE

$label-violet: #c40cbe;
$label-yellow: #f4ac00;
$label-blue: #0793d4;
$label-green: #46a42d;
$label-red: #ed2d2d;

$label-settings:
  (needs-editing, $label-violet),
  (waiting-for-review, $label-yellow),
  (under-review, $label-blue),
  (approved, $label-green),
  (published, $white, $black),
  (rejected,  $label-red);

@each $name, $bg, $color in $label-settings {
  .b-label_type_#{$name} {
    background-color: $bg;
    @if $color {
      color: $color;
    }
  }
}
