* {
  box-sizing: border-box;

  &:before, &:after {
    box-sizing: border-box;
  }
}

body {
  font-family: $font;
  font-weight: 400;
}

.container {
  max-width: $grid-container-width;
  margin: 0 auto;
  width: 100%;
  padding: 0 gutter(1);
}

.row {
  margin-left: - gutter(1);
  margin-right: - gutter(1);
}

.b-main {
  flex: 1 0 auto;
}

.b-layout {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}
