.b-social {
  display: flex;
  flex-flow: row nowrap;
}

.b-social__item {
  margin-right: gutter(1.7);

  &:last-of-type {
    margin-right: 0;
  }
}

.b-social__icon {
  margin-right: gutter(.5);
  display: inline-block;
}

.b-social__num {
  display: inline-block;
  color: $blue-gray-6;
  font-size: 11px;
}

// STATE

.b-social__icon_type_eye {
  width: 12px;
  height: 8px;
}

.b-social__icon_type_star {
  width: 12px;
  height: 11px;
}

.b-social__icon_type_share {
  width: 11px;
  height: 10px;
}
