.toast-wrap {
  display: block;
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  pointer-events: none;
}

.toast {
  pointer-events: all;
  margin: 15px auto;
  width: 280px;
  padding: 20px 30px;
  border-radius: 5px;
  border: 2px solid $white;
  background-color: $white;
  position: relative;

  @media #{$medium-up} {
    width: 350px;
  }

  @media #{$big-up} {
    width: 500px;
  }
}

.toast__text {
  font-size: 16px;
  color: $base-font-color;
}

.toast__close {
  @extend %button-clear;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  opacity: .8;

  svg {
    @include transition(opacity);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
  }

  &:hover {
    opacity: 1;
  }
}

// STATE
.toast_type_error {
  border-color: $red;
  box-shadow: 0 2px 4px 0 rgba($red, .2);
}

.toast_type_success {
  border-color: $green;
  box-shadow: 0 2px 4px 0 rgba($green, .2);
}
