.b-search {
  width: 100%;
  position: relative;
}

.b-search__btn {
  @extend %button-clear;
  position: absolute;
  width: 30px;
  height: 32px;
  cursor: pointer;
}

.b-search__input {
  @extend %input-clear;
  width: 100%;
  height: 32px;
  border-radius: 3px;
  border: $forms-border;
  color: $dark-gray;
  font-size: $forms-font-size;
  padding: 0 gutter(2);

  &:focus {
    box-shadow: $forms-focused-shadow;
    border-color: $forms-focused-border-color;
  }

  &::placeholder {
    color: $forms-placeholder;
  }
}

.b-search__close-icon {
  width: 12px;
  height: 12px;
}

// STATE

.b-search__btn_type_glass {
  left: 0;
  background-image: url('../assets/images/search.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 15px;
}

.b-search__btn_type_close {
  @include transition(opacity);
  right: 0;
  opacity: 1;
  visibility: visible;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
  }
}
