.b-title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.b-title__btn {
  @include transition(opacity);
  @extend %button-clear;
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 30px;
  opacity: .8;

  &:hover {
    opacity: 1;
  }
}

.b-title__icon {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: $gray-2;
}

.b-title__heading {
  @include padding-trailer(1);
  padding-right: 45px;
  border-bottom: 1px solid $light-gray-2;
  color: $black;
  font-size: 32px;
  margin: 0;
  flex-grow: 1;
  font-weight: 700;
}

.b-title__textarea {
  @extend %input-clear;
  padding: 0 gutter(1) rhythm(1) 0;
  border-bottom-color: $light-gray-2;
  border-width: 0 0 1px 0;
  color: $black;
  font-size: 32px;
  flex-grow: 1;
  font-weight: 700;
  line-height: 1.15;
  resize: none;

  &:focus {
    border-color: $forms-focused-border-color;
  }
}
