.b-image-uploader {
  width: 100%;
  background-color: $blue-gray;
  border-radius: 4px;
  position: relative;
}

.b-image-uploader__inner {
  text-align: center;
  padding: rhythm(5) gutter(1) rhythm(4);
}

.b-image-uploader__upload-icon {
  @include margin-trailer(2);
  width: 28px;
  height: 28px;
}

.b-image-uploader__heading {
  @include margin-trailer(1);
  color: $dark-gray;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.b-image-uploader__action {
  @include margin-trailer(5.5);
  color: $blue;
  font-weight: 300;
  font-size: 14px;
}

.b-image-uploader__text {
  color: $dark-cyan;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;

  @media #{$medium-up} {
    padding-right: 70px;
    padding-left: 70px;
  }

  @media #{$big-up} {
    padding-right: 140px;
    padding-left: 140px;
  }

  @media #{$large-up} {
    padding-right: 280px;
    padding-left: 280px;
  }
}

.b-image-uploader__input {
  @extend %input-clear;
  height: 100%;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  padding: 0;
  display: block;
  border: none;
  width: 100%;
  cursor: pointer;
}

.b-image-uploader__img {
  position: relative;
  width: 100%;
  height: auto;
}

.b-image-uploader__trash {
  @extend %button-clear;
  position: absolute;
  width: 44px;
  height: 44px;
  background-color: rgba($black, .8);
  cursor: pointer;
  top: 6px;
  right: 6px;
}

.b-image-uploader__trash-icon {
  width: 14px;
  height: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: $white;
}

.b-image-uploader__area {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba($white, .8);
  padding: rhythm(2) gutter(1);

  @media #{$medium-up} {
    @include rhythm-padding(3)
  }

  @media #{$big-up} {
    @include rhythm-padding(4)
  }

  @media #{$large-up} {
    @include rhythm-padding(5)
  }
}

.b-image-uploader__warning {
  color: $black;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}
