.b-social-image__btns {
  @include margin-trailer(2);
  display: inline-block;
}

.b-social-image__btn {
  @include transition(color, background-color);
  @extend %button-clear;
  background-color: $white;
  color: $btn-bg;
  font-weight: 400;
  padding: 6px 12px;
  cursor: pointer;
  border: 1px solid $btn-bg;
  border-radius: 3px;
  font-size: 14px;

  &:hover {
    background-color: $btn-hovered-bg;
    color: $white;
    border-color: $btn-hovered-bg;
  }

  &:active {
    box-shadow: inset 0 2px 0 rgba($btn-active-shadow, .25);
  }

  &:first-of-type {
    @include margin-trailer(1.5);
  }

  @media #{$medium-up} {
    &:first-of-type {
      @include margin-trailer(0);
      border-radius: 3px 0 0 3px;
      border-width: 1px 0 1px 1px;
    }

    &:last-of-type {
      border-radius: 0 3px 3px 0;
      border-width: 1px 1px 1px 0;
    }
  }
}

.b-social-image__checkboxes {
  @include margin-trailer(3);
}

.b-social-image__checkbox-row {
  @include margin-trailer(1);
}

.b-social-image__label {
  position: relative;
  color: $dark-gray;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  padding-left: 20px;
  user-select: none;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    box-shadow: inset 0 2px 0 rgba($black, .1);
    border-radius: 3px;
    border: 1px solid $black;
    top: 0;
    left: 0;
  }
}

.b-social-image__checkbox {
  visibility: hidden;
  position: absolute;

  &:checked {
    +.b-social-image__label:before {
      background-image: url('../assets/images/checkbox-checked.png');
      border: none;
      box-shadow: none;
    }
  }
}

.b-social-image__preview {
  position: relative;
}

.b-social-image__inner {
  width: 230px;
  position: relative;
}

.b-social-image__bar {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba($black, .6);
  padding: 10px;
}

.b-social-image__img {
  width: 100%;
  height: auto;
  display: block;
}

.b-social-image__title {
  font-size: 10px;
  font-weight: 700;
  color: $white;
  padding-right: 50px;
}

.b-social-image__small-logo {
  width: 35px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 9px;
}

.b-social-image__uploader {
  position: relative;
}

.b-social-image__input {
  @extend %input-clear;
  height: 100%;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  padding: 0;
  display: block;
  border: none;
  width: 100%;
  cursor: pointer;
}

.b-social-image__trash {
  @extend %button-clear;
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;
  top: -5px;
  right: -35px;
}

.b-social-image__trash-icon {
  width: 14px;
  height: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: $red;
}

.b-social-image__upload-icon {
  width: 17px;
  height: 18px;
  position: absolute;
  left: 50%;
  top: 30px;
  transform: translateX(-50%);
}

.b-social-image__upload-text {
  color: $blue;
  font-size: 13px;
  font-weight: 300;
  line-height: 19px;
  bottom: 30px;
  position: absolute;
  padding: 0px 25px;
  text-align: center;
}

// STATE
.b-social-image__btn_type_active {
  color: $white;
  background-color: $blue;
}

.b-social-image__preview_type_cover {
  background-color: $blue-gray-2;
  height: 130px;
  border: 1px solid $light-gray-6;
}

.b-social-image__logo {
  width: 100px;
  height: 27px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.b-social-image__uploader_type_no-image {
  background-color: $blue-gray-2;
  height: 130px;
  border: 1px solid $light-gray-6;
}
