.b-article {
  text-decoration: none;
  display: flex;
  flex-flow: column nowrap;

  &:hover {
    text-decoration: none;

    .b-article__heading {
      color: $blue;
    }
  }

  &:active {
    .b-article__heading {
      color: $dark-blue;
    }
  }
}

.b-article__top {
  height: 196px;
  position: relative;
}

.b-article__image-wrap {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.b-article__image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  transform: translateX(-50%) translateY(-50%);
}

.b-article__logo {
  width: 198px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.b-article__label {
  position: absolute;
  top: 10px;
  right: 10px;
}

.b-article__content {
  background-color: $blue-gray-4;
  padding: rhythm(2);
  flex-grow: 1;
}

.b-article__info {
  @include margin-trailer(1);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.b-article__date,
.b-article__category {
  font-size: 13px;
  line-height: 20px;
  color: $blue-gray-5;
}

.b-article__date {
  padding-right: gutter(1);
}

.b-article__category {
  padding-left: gutter(1);
}

.b-article__heading {
  @include transition(color);
  margin: 0 0 rhythm(1);
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
  color: $dark-gray;
}

// STATE

.b-article__top_type_cover {
  background-color: $blue-gray-3;
}
