// COLORS
$black: #000;
$white: #fff;
$gray: #999;
$gray-2: #adbabe;
$dark-gray: #333;
$dark-gray-2: #2a2e32;
$dark-gray-3: #fffefe;
$light-gray: #b0b0b0;
$light-gray-2: #cbcbcb;
$light-gray-3: #e2e2e2;
$light-gray-4: #f7f7f7;
$light-gray-5: #d8d8d8;
$light-gray-6: #bdbdbd;
$blue-gray: #e7f3f6;
$blue-gray-2: #e4f1fa;
$blue-gray-3: #cedde1;
$blue-gray-4: #e6eef1;
$blue-gray-5: #7698a2;
$blue-gray-6: #64787e;
$blue: #2b94e1;
$dark-blue: #0071bc;
$dark-cyan: #98aaaf;
$gray-cyan: #bcccd0;
$red: #d00000;
$green: #4fae33;

$base-font-color: $gray;

// FORMS
$forms-placeholder: $light-gray;
$forms-color: $dark-gray;
$forms-border: 1px solid $gray;
$forms-focused-border-color: $blue;
$forms-focused-shadow: 0 0 5px rgba($blue, .25);
$forms-font-size: 14px;

// TYPOGRAPHY
// -----------------------------------

// Vertical rhythm
$base-font-size: 14px;
$base-vertical-rhythm: 10px;
$base-line-height: 24px;
$rhythm-unit: 'px';
$round-to-nearest-half-line: true;
// Vertical rhythm debug
$vertical-rhythm-debug: false;
$vertical-rhythm-color-lines: #000;

// GRID
// -----------------------------------
$columns: 12;
$gutter-width: 30px;
$column-width: 65px;


// BREAKPOINTS
// -----------------------------------
$small-upper-bound: 670px;
$medium-upper-bound: 959px;
$big-upper-bound: 1279px;
$large-upper-bound: 1439px;

// Z-INDEX MANAGEMENT
// -----------------------------------
$z-layers: (
  'hide': -1,
  'zero': 0,
  'default': 1,
  'nav': 2,
);


// GLOBAL SETTINGS
// -----------------------------------

// Transition  property
$gl-trs-duration: .3s;
$gl-trs-function: ease;

// Text transform letterspacing
$gl-letter-spacing: .2em;
