@include font('ubuntu', 'UbuntuLight', 300);
@include font('ubuntu', 'UbuntuRegular', 400);
@include font('ubuntu', 'UbuntuMedium', 500);
@include font('ubuntu', 'UbuntuBold', 700);

$font: 'ubuntu', sans-serif;
$font-bold: 'ubuntu-bold', sans-serif;

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h1 {
  font-size: 32px;
}

%link {
  @include transition(color);
  text-decoration: none;
  color: $blue;

  &:hover {
    text-decoration: none;
    color: darken($blue, 5%);
  }

  &:active {
    color: $dark-blue;
  }
}
