%input-clear {
  &:focus {
    outline: none;
  }

  &::-ms-reveal {
    display: none;
  }

  &::-ms-clear {
    display: none;
  }
}

%button-clear {
  background-color: transparent;
  padding: 0;
  border: none;

  &:focus {
    outline: none;
  }
}

%input {
  @extend %input-clear;
  font-family: $font;
  color: $forms-color;
  font-size: $forms-font-size;
  border: $forms-border;

  &:focus {
    box-shadow: $forms-focused-shadow;
    border-color: $forms-focused-border-color;
    outline: none;
  }

  &::placeholder {
    color: $forms-placeholder;
  }
}

%textarea {
  font-family: $font;
  color: $forms-color;
  font-size: $forms-font-size;
  border: $forms-border;
  resize: none;

  &:focus {
    box-shadow: $forms-focused-shadow;
    border-color: $forms-focused-border-color;
    outline: none;
  }

  &::placeholder {
    color: $forms-placeholder;
  }
}
